<nav>
        
    <div class="site-title">
        <a href="/"><h1>Papa's Blog</h1></a>
        <p>A papa's site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>

    </ul>
</nav>